export(simulation_design)
export(glm_design)
export(lm_design)
export(cox_design)
export(simulate_data)
export(model_coefficients)
export(calibrate_intercept)
export(weibull_baseline)
export(piecewise_baseline)
export(wald_test)
export(lrt_test)
export(power_curve)
export(select_sample_size)
export(mc_replicates)
export(plot_event_rate)
S3method(print,regsim_design)
S3method(print,regsim_power)
S3method(summary,regsim_power)
S3method(as.data.frame,regsim_power)
S3method(plot,regsim_power)
